name: daur_app
description: "DaurApp: Recycle, Earn, Renew"

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.1.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^1.0.2
  flutter_svg: ^2.0.9
  device_preview: ^1.1.0
  get: ^4.6.6
  package_info_plus: ^4.2.0
  form_field_validator: ^1.1.0
  intl: ^0.18.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:

  uses-material-design: true

  assets:
    - assets/img/
    - assets/icons/
